body{
	padding-top: 100px;
	height: 100%;
}

.btn-circle2{
	background: url('/images/loop.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;

	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 0px solid #fff;
	border-radius: 100%!important;
	font-size: 40px;
	color: #fff;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}